<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Inicio{% endblock %}</title>
    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <link rel="icon" type="image/x-icon" href="../../static/img/youtube.svg">
  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  -->
   <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css' ) }}"/> 

   
</head>
<body>

      
    <nav class=" navbar navbar-expand-lg navbar-light   dataTabla">
        <div class="container-fluid ">
            <a class="navbar-brand" href="/">
                Descargar
              </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarCollapse">
                <div class="navbar-nav ">
                  <ul class="navbar-nav mr-auto d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/jeisonIF/mp4-YouTube">GitHub
                        </a>
                      </li>
                    <li class="nav-item ">
                      <a class="nav-link " href="https://www.youtube.com/">
                        Ver en youtube
                      </a>

                    </li>
                    
                  </ul>
                </div>
                
            </div>
        </div>
    </nav>
   
      
      
    
      <section class="container mt-2 mb-0">
         <form action="/video" method="GET">
          <div class="card  border-0 mb-0 formM">
          <!---->   
          <div class="mx-auto mb-0" >
              <img

                class="card-img-top "
                src="static/img/Music_Outline-cropped.svg"
                alt="Youtube Download"
                style="width: 20vh; height: 20vh;"
              />
            </div> 
            <!-- <input type="text" name="jeison" id="jeison" value="fernando"> -->

            <div class="card-body  "  >
              <div class="input-group ">
                <span class="input-group-text dataTabla icono" style="width: 10vh">
                  <i class="fa fa-youtube-play fa-3x mx-auto " style=" color:red;" ></i>
                </span>
                <input
                  type="search"
                  class="form-control dataTabla"
                  name="detailSearch"
                  
                />
                <span class="input-group-text dataTabla">
                  <button type="submit" class="btn btn-success btn-lg" 
                  onclick="cargando()"
                  >
                    <i class="fa fa-search mx-auto"></i>
      
                    Buscar
                  </button>
                 
                </span>
              </div>
            </div>
          </div>
        </form> 
      </section>
    
      <div class="spinner-border mx-auto" id="cargando" style=" display: none;width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
        
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="container flashes">
        {% for message in messages %}
          
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Error de busqueda:</strong> 
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
        
      {% endif %}
    {% endwith %}
      

   
    {% block seccion %}
    {% endblock %}
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../static/js/redirect.js" >
  
    </script>
    
</body>
</html>