*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    /* background: #9f8ad0; 
    background: ;*/
    height: 100%;
    width: 100%;
    background-image: url('../img/fondop.jpg'),linear-gradient(to left, #90e0ef 0%,#ade8f4 0%, #e8e8e4 80%);
    background-size: cover;
    background-repeat: center center;
    background-position: center;
    background-attachment: fixed;
    border: none;
}
.dataTabla{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(.8);
    -webkit-backdrop-filter: saturate(.8);
    border-radius: 15px;
    /* border: 1px solid rgba(255,255,255,.3);
  
    backdrop-filter: sepia(.4); */
  }
.modal>*{ background-color: rgba(0,0,0,.0001) !important;}


input:focus{
    background-color: rgba(255, 255, 255, .0);
  backdrop-filter: opacity(.4);
  -webkit-backdrop-filter: opacity(.4);
  border-radius: 15px;
}

.formM{
  background-color: rgba(255, 255, 255, .0);
  backdrop-filter: opacity(.4);
  -webkit-backdrop-filter: opacity(.4);
  border-radius: 15px;
  /* border: 1px solid rgba(255,255,255,.3);

  backdrop-filter: sepia(.4); */
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}